.sanitar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.horny {
    background-image: url('image.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    margin: 0;
}

.fade-in-box {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.run-button {
    position: absolute;
    top: 50%;
    left: 50%;
}