<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="sanitar">
    <p>You choose the assfucking way? (Ya staralsya)</p>
    <p>or</p>
    <p>You choose the chill way? (the boring one)</p>
    <div>
      <a href="index">first</a>
      <a href="cmon">second</a>
    </div>
  </div>
</body>
</html>

