<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ha-ha!</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="sanitar">
    <!-- Here is nothings you could be looking for buddy-->
    <iframe width="720" height="480" 
        src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&mute=1"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    <div class="fade-in-box">
      <i>Maybe there is something else..?</i>
    </div>
  </div>
</body>
</html>
